:root {
  --theme-black-color: #2d2c2c;
  --theme-white-color: #ffffff;
}

body {
  font-family: 'Rockwell', serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  height: 103px;
}

.logo {
  width: 189px;
  img {
    height: 66px;
  }
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: var(--theme-black-color);
}

.search-section {
  height: 60px;
  width: 189px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search-bar {
  height: 24px;
  width: 189px;
  border-radius: 4px;
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  border: 1px solid black;
}

.search-bar > img { 
  height: 24px;
  width: 24px;
  /* margin: 0 8px; */
}

.search-icons {
  height: 24px;
  width: 189px;
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
}
.search-icons > img {
  height: 24px;
  width: 24px;
  margin-left: 8px;
}

.artboard {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 24px;
  row-gap: 24px;
  margin: 36px;
}

.artboard a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f1c40f;
  width: 209px;
  height: 290px;
  font-size: 28px;
  color: var(--theme-black-color);
  transition: 0.1s ease;
}

.artboard a:hover {
  opacity: 80%;
}

.artboard #quills {
  background-image: url(img/Rectangle-8.png);
  color: var(--theme-white-color);
}
.artboard #ink {
  background-image: url(img/Rectangle-11.png);
  color: var(--theme-white-color);
}
.artboard #sets {
  background-image: url(img/Rectangle-10.png);
}
.artboard #paper {
  background-image: url(img/Rectangle-9.png);
}

/* If the screen is too narrow, the artboard blocks will smoosh into one column*/
@media screen and (max-width: 480px) {
  .artboard {
    grid-template-columns: auto;
  }
}

/* If the screen is wide enough, the block will spread out */
/* although, I did just choose min-width number somewhat arbitrarily */
@media screen and (min-width: 1024px) {
  .artboard {
    grid-template-columns: auto auto auto auto;
  }
}